body{
/*     background-image: url(https://picsum.photos/1200);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    background: url(https://picsum.photos/1200); no-repeat center center fixed;
    background-size: cover;
}

h1{
    color: #ff0000;
}

.main-text{
    background-color: hsl(25, 75%, 47%) ;
}

.color-green{
    color: hwb(120 0% 50%);
}

#lorem-text1{
    padding: 10px;
}
